@model FPTBook.Models.Book

@{
    ViewData["Title"] = "Details";
}

<h1>Details</h1>

<div>
    <h4>Book</h4>
    <div class="card" style="width: 18rem; margin:auto">
        <img src="@Model.ImgUrl" class="card-img-top" alt="...">
    </div>
    <hr />
    <dl class="row">
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Title)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Title)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Pages)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Pages)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Author)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Author)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Category)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Category)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Price)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Price)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Desc)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Desc)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Store)
        </dt>
        <dt class="col-sm-2">
            @Html.DisplayFor(model => model.Store.Id)
        </dt>

    </dl>
</div>
<div>
    <a asp-action="AddToCart" asp-route-isbn="@Model?.Isbn" class="btn button-violet">Add to cart <i class="fas fa-cart-plus"></i></a> |
    <a asp-action="List" class="btn button-violet">Back to List</a>


</div>
<style>
    .button-violet{
        color: #fff;
    background-color: #6b38b6;
    border-color: #6b38b6;
    }
</style>
