@model List<FPTBook.Models.Book>

@{
    ViewData["Title"] = "Home Page";
}
<form asp-action="List" method="get">
    <div class="form-actions no-color">
        <p>
            <input style="width:500px; height: 40px; border-radius:10px" type="text" name="SearchString" placeholder="Enter Author or Title or Category to find" value="@ViewData["CurrentFilter"]" />
            <input type="submit" value="Search" class="btn button-violet " style=" border: 1px solid; " />
        </p>
    </div>
</form>
<div class="container">
    <div class="row">
        @for (var i = 0; i < @Model.Count; i++)
        {
            <div class="col-md-4 col-6">
                <div class="card" style="width: 18rem;">
                    <img src="@Model[i].ImgUrl" class="card-img-top" alt="...">
                    <div class="card-body">
                        <h5 class="card-title">@Model[i].Title</h5>
                        <p class="card-title text-primary">by <b>@Model[i].Author</b></p>
                        <div style="padding-left:5px;">
                            <p class=" text-black">Category: @Model[i].Category</p>
                        </div>
                        <div style="padding-left:5px;">
                            <p style="color:maroon">Price: <b class="">$ @Model[i].Price</b></p>
                        </div>
                        <a asp-action="Details" asp-route-id="@Model[i].Isbn" class="btn button-violet">Details <i class="fas fa-info-circle"></i></a>
                        <a asp-action="AddToCart" asp-route-isbn="@Model[i].Isbn" class="btn button-violet">Add to cart <i class="fas fa-cart-plus"></i></a>
                    </div>
                </div>
            </div>
        }
    </div>
</div>

<p>
    @ViewBag.message
</p>
<div style="display:flex;text-align:center;justify-content:center">
    <nav aria-label="Page navigation example">
        <ul class="pagination">
            @for (var i = 0; i < @ViewBag.numberOfPages; i++)
            {
                var style = (ViewBag.currentPage == @i) ? "active" : "";
                <li class="page-item @style">
                    <a class="page-link" asp-route-id="@i">@(i+1)</a>
                </li>
            }
                       

        </ul>
    </nav>
</div>
<style>
    .button-violet{
        color: #fff;
    background-color: #6b38b6;
    border-color: #6b38b6;
    }
</style>
 @*<h1> Tong Số Sách: @ViewBag.numberOfRecords </h1>*@