@model IEnumerable<FPTBook.Models.Order>

@{
    ViewData["Title"] = "Index";
}

<h1 class = "text-center">Order Manager</h1>

<table class="table table-bordered">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.UId)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.User.UserName)
            </th>


            <th>
                @Html.DisplayNameFor(model => model.Total)
            </th>
            <th>
                Actions
            </th>

        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.UId)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.User.UserName)
                </td>

                <td>
                    @Html.DisplayFor(modelItem => item.Total)
                </td>
                <td>
                    <a asp-controller="OrderDetails" asp-action="orderManager" asp-route-id="@item?.Id" class="btn button-violet">Details <i class="fas fa-info-circle"></i></a>
                </td>
            </tr>
        }
    </tbody>
</table>
  <style>
    .button-violet{
        color: #fff;
    background-color: #6b38b6;
    border-color: #6b38b6;
    }
</style>